* {
	margin: 10px;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: url(../image/fond.jpeg) center 0 no-repeat fixed;;
	background-size: 100%;
}

header {
	height: 40%;
	width: 100%;
}

#logo_menu {
	margin-left: 10%;
}

#logo img {
	width: 150px;
	height: 150px;
	float: left;
}

#menu {
	padding-top: 8%;
}

#menu ul {
	margin:0;
 	padding:0;
 	list-style-type:none;
 	text-align:center;
}
 
#menu li  {
	float:left;
 	margin:auto;
 	padding:0;
}

.bouton a {
 	display:block;
 	width:55px;
 	color: black;
 	padding:20px;
 	text-decoration: none;
} 

.bouton a:hover {
	text-decoration: underline;
}

.sous_bouton a:hover {
	text-decoration: none;
}

#menu ul li ul {
 	display:none;
}

#menu ul li:hover ul {
 	display:block;
}

#menu li:hover ul li {
 	float:none;
}